<a href="https://colab.research.google.com/github/AbhijeetKD20/Guvi-Assignments/blob/main/Assignment_04_Boston_House_Dataset_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

20th july

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataset = pd.read_csv("train.csv")
dataset.head(3)

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3

In [ ]:
#Checking for null values
dataset.isnull().sum()

ID         0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [ ]:
dataset.describe()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,3.757191,10.970000,10.936425,0.072500,0.552817,6.292165,68.086000,3.819462,9.462500,403.797500,18.459000,359.455375,12.668525,22.475750
std,115.614301,9.155496,22.796261,6.848042,0.259639,0.115488,0.709923,28.386888,2.132445,8.687478,169.656816,2.148105,86.732906,7.207047,9.218611
min,0.000000,0.009060,0.000000,0.460000,0.000000,0.385000,4.138000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.920000,5.000000
25%,99.750000,0.077820,0.000000,5.130000,0.000000,0.449000,5.877500,42.375000,2.109150,4.000000,277.000000,17.400000,376.115000,6.990000,17.100000
50%,199.500000,0.242170,0.000000,8.560000,0.000000,0.532000,6.208500,76.950000,3.272100,5.000000,329.000000,18.950000,391.575000,10.875000,21.000000
75%,299.250000,3.543427,12.500000,18.100000,0.000000,0.624000,6.620500,93.825000,5.214600,24.000000,666.000000,20.200000,396.285000,16.910000,25.000000
max,399.000000,88.976200,95.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

 
CRIM - per capita crime rate by town

ZN - proportion of residential land zoned for lots over 25,000 sq.ft.

INDUS - proportion of non-retail business acres per town.

CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)

NOX - nitric oxides concentration (parts per 10 million)

RM - average number of rooms per dwelling

AGE - proportion of owner-occupied units built prior to 1940

DIS - weighted distances to five Boston employment centres

RAD - index of accessibility to radial highways

TAX - full-value property-tax rate per $10,000

PTRATIO - pupil-teacher ratio by town

B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town

LSTAT - % lower status of the population

MEDV - Median value of owner-occupied homes in $1000's

## **Working of Code**

1.NumPy library would be required, so code begins by importing it

2.Import phi and phi_test from train and test datasets using NumPy's loadtxt function

3.Import y from train dataset using the loadtxt function

4.Concatenate coloumn of 1s to right of phi and phi_test

5.Apply min max scaling on each coloumn of phi and phi_test

6.Apply log scaling on y

7.Define a function to calculate change in error function based on phi, w and p norm

8.Make a dictionary containing filenames as keys and p as values

9.For each item in this dictionary

9.1 Set the w to all 0s

9.2 Set an appropriate value for lambda and step size

9.3 Calculate new value of w

9.4 Repeat steps until error between consecutive ws is less than threshold

9.5 Load values of id from test data file

9.6 Calculate y for test data using phi test and applying inverse log

9.7 Save the ids and y according to filename from dictionary

In [ ]:
#1. and 2. importing phi and phi_test from np.loadtxt(train.csv)
import numpy as np
phi = np.loadtxt("train.csv", dtype = "float", delimiter = ",", skiprows = 1,
                 usecols = tuple(range(1,14)))

In [ ]:
#importing phi_test from np.loadtxt(test.csv)
phi_test = np.loadtxt("test.csv", dtype = "float", delimiter = ",",skiprows = 1,
                      usecols= tuple(range(1,14)))

In [ ]:
# Import y from train data set
y = np.loadtxt('train.csv', dtype='float', delimiter=',', skiprows=1,
               usecols=14, ndmin=2)

In [ ]:
#4.Concatenate coloumn of 1s to right of phi and phi_test
# Add a column of 1s to right of phi and phi_test
phi_test = np.concatenate((phi_test, np.ones((105, 1))), axis=1)
phi = np.concatenate((phi, np.ones((400, 1))), axis=1)

In [ ]:
#5.Apply min max scaling on each coloumn of phi and phi_test
# Min Max scaling for phi and phi_test (Feature Engineering)
for i in range(0, 13):
    col_max = max(phi[:, i])
    col_min = min(phi[:, i])
    phi[:, i] = (phi[:, i] - col_min) / (col_max - col_min)
    phi_test[:, i] = (phi_test[:, i] - col_min) / (col_max - col_min)

In [ ]:
# 6.Log scaling on y
y = np.log(y)

In [ ]:
# 7.Define a function to calculate change in error function based on phi, w and p norm
def error_f(p, phi, w):
    if p == 2:
        err_func = (2 * (np.dot(np.dot(np.transpose(phi), phi), w) -
                       np.dot(np.transpose(phi), y)) +
                  lambd * p * np.power(np.absolute(w), (p - 1)))
    if p < 2 and p > 1:
        err_func = (2 * (np.dot(np.dot(np.transpose(phi), phi), w) -
                       np.dot(np.transpose(phi), y)) +
                  lambd * p * np.power(np.absolute(w), (p - 1)) * np.sign(w))
    return err_func

In [ ]:
#8.Make a dictionary containing filenames as keys and p as values
filenames = {'output.csv': 2.0,
             'output_p1.csv': 1.75,
             'output_p2.csv': 1.5,
             'output_p3.csv': 1.3
             }

In [ ]:
#9.For each item in this dictionary
#9.1 Set the w to all 0s
for (fname, p) in filenames.items():
    # Set initial w to zeros
    w = np.zeros((14, 1))

In [ ]:
#9.2 Set an appropriate value for lambda and step size
# Hyperparameter lambda value
lambd = 0.2

#max_step_size
t = 0.0001

9.3 Calculate new value of w

9.4 Repeat steps until error between consecutive ws is less than threshold

9.5 Load values of id from test data file

9.6 Calculate y for test data using phi test and applying inverse log

9.7 Save the ids and y according to filename from dictionary

In [ ]:
#9.3 Calculate new value of w
w_new = w - t * error_f(p, phi, w)

In [ ]:
i = 0
# 9.4 Repeat steps until error between consecutive w is less than threshold
while(np.linalg.norm(w_new-w) > 10 ** -10):
  w = w_new
  w_new = w - t * error_f(p, phi, w)
  i = i + 1

In [ ]:
#9.5 Load values of id from test data file
id_test = np.loadtxt('test.csv', dtype='int', delimiter=',',skiprows=1, usecols=0, ndmin=2)

In [ ]:
#9.6 Calculate y for test data using phi test and applying inverse log
y_test = np.exp(np.dot(phi_test, w_new))

In [ ]:
# 9.7 Save the ids and y according to filename from dictionary
np.savetxt(fname, np.concatenate((id_test, y_test), axis=1),
               delimiter=',', fmt=['%d', '%f'], header='ID,MEDV', comments='')